.container{
    
    display: flex;
    align-items: stretch;
    height: 100vh;
     
    aside{
        flex: 7;
        background: #835AFD;
        color: #FFF;
        justify-content: center;
        padding: 120px 80px;
        display: flex;
        flex-direction: column;

        img{
            max-width: 370px;
        }
        strong{
           font: 700 36px 'Poppins',sans-serif;
           line-height: 42px;
           margin-top: 16px;
        
        }
        p{
            font: 400 24px 'Roboto',sans-serif;
            line-height: 32px;
            margin-top: 16px;
        }
    }

    main{
        flex: 8;
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
       

        .content{

        
            display: flex;
            flex-direction: column;

            max-width: 320px;
           text-align: center;
            align-items: stretch;

            .gButton{
                align-items: center;
                background: #EA4335;
                color: #FFF;
                margin-top: 64px;
                border: 0;
                gap: 10px;
                display: flex;
                border-radius: 8px;
                padding: 13px  29px;
                 transition: filter 0.2s;
                &:hover{
                    cursor: pointer;
                    filter: brightness(0.8);
                }
            }

            input{
                height: 50px;
                border-radius: 8px;
                border:1px solid #A8A8B3;
                padding: 0 13px;
            }

            .separator{
                color: #A8A8B3;
                font-size: 14px;
                align-items: center;
                display: flex;
                margin: 32px 0;

                &::after{
                    content: '';
                    flex: 1;
                    height: 1px;
                    background:#A8A8B3 ;
                    margin-left: 16px;
                }

                &::before{
                    content: '';
                    flex: 1;
                    height: 1px;
                    background:#A8A8B3 ;
                    margin-right: 16px;
                }
            }

            .eButton{
                align-items: center;
                background: #835AFD;
                color: #FFF;
                border: 0;
                margin-top: 14px;
               justify-content: center;
                gap: 10px;
                display: flex;
                border-radius: 8px;
                padding: 13px  29px;
                 transition: filter 0.2s;
                &:hover{
                    cursor: pointer;
                    filter: brightness(0.8);
                }
            }
        }
    }
}